version: "3.8"
services:
  mysql:
    image: mysql:8.1
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: Tienda-Virtual
      MYSQL_USER: urpiriodev
      MYSQL_PASSWORD: "1234"
    volumes:
      - ./mysql:/var/lib/mysql
    ports:
      - "3307:3306"